@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item"><span class="navbar-text text-white me-2">@User.Identity?.Name</span></li>
    <li class="nav-item"><form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><button type="submit" class="btn btn-outline-light btn-sm">Logout</button></form></li>
}
else
{
    <li class="nav-item"><a class="btn btn-outline-light btn-sm" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
}
</ul>
